* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Jetbrains Mono;
}

body {
    background: #0f0f0f;
    padding: 40px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: #202020;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 24px;
}

.navbar {
    margin-bottom: 24px;
}

.nav {
    
    font-size: 22px;
    font-weight: bold;
    color: #f8f8f8;
    text-decoration: none;
}

.form {
    margin-bottom: 32px;
    align-items: center;
}

.form label {
    font-weight: bold;
    color: #f8f8f8;
}

.form input {
    display: grid;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.form button {
    grid-column: span 2;
    padding: 10px;
    background: #337418;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.form button:hover {
    background: #5dd62c;
}

.table {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #337418;
    color: white;
}

th, td {
    padding: 10px 12px;
    text-align: left;
}

tbody tr{
    color: #f8f8f8;
}

td a {
    color: #d9534f;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

td button {
    margin-right: 8px;
    padding: 6px 10px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #f0ad4e;
    color: #fff;
}

td button:hover {
    background: #ec971f;
}
