* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Jetbrains Mono;
    color: #f8f8f8;
}

body {
    background: #0f0f0f;
    padding: 40px;
}

.form {
    margin-bottom: 32px;
    align-items: center;
}

.form label {
    font-weight: bold;
}

.form input {
    display: grid;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #0f0f0f;
}

.form button {
    grid-column: span 2;
    padding: 10px;
    background: #337418;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.form button:hover {
    background: #5dd62c;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: #202020;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 24px;
}